:2015 {
    bind 0.0.0.0
    gzip
    root .
    
    git {
        repo https://github.com/talamanca-land-bank/www_talamancalandbank.com
        branch development
        hook /webhook "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path . 
    }
}
